/*ГЛАВНАЯ СТРАНИЦА*/



@media screen and (min-width: 1441px) {
	.burger-menu{
		display: none;
	}
	#back-top{
		top: 5%;
		left: 97%;
	}
	.logo{
		width: 15%;
	}
	.menu-item{
		font-size: 26px;
	}
	.back-image{
		height: 100vh;
	}
	.title{
		margin-top: 250px;
		margin-bottom: 385px;
	}
	.about-us{
		width: 80%;
		margin-left: 10%;
		margin-top: 0px;
		padding-top: 100px;
	}
	.grey-box{
		left: 10%;
		width: 50%;
	}
	.about-us-subtitle{
		font-size: 40px;
		margin-left: -60px;
	}
	.about-us-text{
		font-size: 32px;
	}
	.about-us-image{
		margin-left: 1100px;
	}
	.products{
		position: relative;
	}
	.section-title-name{
		font-size: 40px;
	}
	.type-of-products{
		margin-left: 5%;
	}
	.name-of-category{
		position: absolute;
		top: 550px;
		left: -950px;
		font-size: 38px;
	}
	.two{
		left: 200px;
	}
	.btn a{
		line-height: 80px;
	}
	.view{
		font-size: 30px;
		--height: 80px;
		margin-left: 270px;
	}
	.rent{
		margin-top: 10px;
		height: 100vh;
	}
	.about-rent-subtitle{
		font-size: 40px;
	}
	.about-rent-text{
		font-size: 32px;
		padding-bottom: 150px;
		padding-left: 250px;
	}
	.rent-img{
		width: 800px;
		height: 500px;
		left: 280px;
		top: 170px;
	}
	.form-information{
		width: 28%;
		height: 400px;
		top: 10px;
		left: 320px;
	}
	.user-name, .user-mail, .user-phone, .user-messege, .send{
		font-size: 26px;
		color: #000;
	}
	.process{
		margin-top: 50px;
	}
	.process-title{
		font-size: 40px;
	}
	.bbag{
		margin-bottom: 50px;
	}
	.find-us{
		font-size: 40px;
	}
	.phones{
		width: 40%;
		margin-top: -20px;
	}
	.contact-us{
		font-size: 38px;
	}
	.contact-p{
		font-size: 32px;
	}
	.partners-wrapper{
		position: relative;
	}
	.contacts-wrapper{
		margin-bottom: 200px;
	}
	.trust{
		font-size: 50px;
		left: -600px;
		top: 530px;
	}
	.grey-line{
		top: 430px;
	}
	.double-img{
		top: -80px;
	}
	.footer{
		margin-top: 300px;
	}
}



@media screen and (max-width: 1440px) {
	.burger-menu{
		display: none;
	}
	.name-of-category{
		left: -530px;
	}
	.two{
		left: 100px;
	}
}




@media screen and (max-width: 1024px) {
	.logos{
		margin-left: 250px;
	}
	.about-us-image{
		margin-left: 500px;
	}
	.logo{
		width: 150px;
	}
	.menu-item{
		font-size: 14px;
	}
	.menu{
		margin-top: 30px;
	}
	h1{
		font-size: 50px;
	}
	.main-subtitle{
		font-size: 20px;
	}
	.about-us-subtitle{
		font-size: 28px;
		padding-top: 50px;
	}
	.about-us-text{
		font-size: 16px;
		padding-left: 85px;
	}
	.about-us-image{
		width: 40%;
	}
	.section-title-name{
		font-size: 28px;
		padding-bottom: 50px;
	}
	.bean-bag-example, .sofa-example{
		height: 350px;
		margin-left: 100px;
	}
	.name-of-category{
		font-size: 20px;
		top: 280px;
		left: -400px;
	}
	.two{
		left: 60px;
	}
	.btn a{
		line-height: 30px;
	}
	.view{
		--height: 30px;
		font-size: 14px;
		margin-left: 150px;
	}
	.about-rent-subtitle{
		padding-top: 50px;
		padding-left: 20px;
		font-size: 28px;
	}
	.about-rent-text{
		font-size: 18px;
	}
	.rent-img{
		height: 380px;
	}
	.form-information{
		left: 4.5%;
	}
	.process-title{
		font-size: 28px;
	}
	.find-us{
		font-size: 28px;
	}
	.contact-us{
		font-size: 22px;
	}
	.contact-p{
		font-size: 16px;
	}
	.phones{
		margin-left: -20px;
	}
	.trust{
		left: -200px;
		top: 260px;
	}
	.grey-line{
		top: 130px;
	}
	.double-img{
		top: 18px;
	}
	#back-top{
		top: 5%;
	}
	#back-top a{
		width: 25px;
	}
	#back-top p{
		width: 25px;
	}
	#back-top span{
		width: 25px;
		height: 25px;
	}
	.js-callback{
		right: 5%;
	}
	.callback-bt, .callback-btn {
		width: 50px;
		height:50px;
		right: 25px;
	}
	.callback-btn .text-call-btn, .callback-bt .text-call{
	    height:50px;
	    width:50px;        
	}
	.callback-bt .text-call:hover span {
	    font-size: 7px;
	}
	.callback-bt .text-call span {
	    right: 0.5px;
	    top: 13px;
	}
	.callback-btn .text-call-btn span {
	    right: 0.5px;
	    top: 13px;
	}
	.callback-btn .text-call-btn:hover span {
        font-size: 7px;
	}
}
	


@media screen and (max-width: 768px) {
	.callback-bt, .callback-btn {
		right: 25px;
	}
	.logos{
		margin-left: 200px;
	}
	#back-top {
	    top: 12%;
	    left: 93%;
	    width: 38px;
	}
	.about-us-image{
		margin-left: 400px;
	}
	.logo{
		width: 120px;
	}
	.menu-item{
		font-size: 10px;
		padding: 20px;
	}
	.menu{
		margin-top: 20px;
	}
	.back-image{
		height: 100vh;
	}
	.title{
		margin-top: 110px;
	}
	h1{
		font-size: 38px;
	}
	.main-subtitle{
		font-size: 16px;
	}
	.about-us{
		margin-top: 200px;
	}
	.about-us-subtitle{
		font-size: 22px;
	}
	.about-us-text{
		font-size: 14px;
		width: 80%;
		padding-left: 40px;
		padding-bottom: 50px;
	}
	.about-us-image{
		width: 45%;
		margin-top: 60px;
	}
	.products{
		margin-top: 150px;
	}
	.section-title-name{
		font-size: 22px;
	}
	.bean-bag-example, .sofa-example{
		height: 250px;
		margin-left: 80px;
	}
	.name-of-category{
		font-size: 14px;
		left: -280px;
		top: 220px;
	}
	.two{
		left: 65px;
	}
	.view{
		--width: 45%;
		font-size: 12px;
		margin-top: 20px;
		margin-left: 100px;
	}
	.about-rent-subtitle{
		font-size: 22px;
		padding-top: 50px;
	}
	.about-rent-text{
		width: 80%;
		font-size: 14px;
		padding-left: 70px;
		padding-bottom: 50px;
	}
	.rent-img{
		height: 250px;
	}
	.form-information{
		width: 43%;
		height: 250px;
		left: 3.9%;
		margin-top: 135px;
	}
	.send{
		margin-top: 20%;
	}
	.process{
		margin-top: 450px;
	}
	.process-title{
		font-size: 22px;
	}
	.bbag{
		margin-bottom: 80px;
	}
	.contacts-wrapper{
		margin-top: 100px;
	}
	.find-us{
		font-size: 22px;
		margin-top: 20px;
	}
	.contact-us{
		font-size: 18px;
	}
	.contact-p{
		font-size: 14px;
		width: 230px;
	}
	.grey-line{
		top: 75px;
	}
	.double-img{
		top: 23px;
	}
	.trust{
		top: 210px;
	}
}




@media screen and (max-width: 425px) {
	.burger-menu{
		display: block;
	}
	.menu{
		margin-top: 15px;
	}
	.menu-item{
		display: none;
	}
	.logo{
		width: 200px;
		height: 200px;
		top: 100px;
		left: 26%;
	}
	h1{
		display: none;
	}
	.back-image{
		height: 350px;
	}
	.main-subtitle{
		font-size: 14px;
		margin-top: 70px;
		padding-top: 50px;
		margin-left: 5%;
		width: 90%;
	}
	.about-us{
		margin-top: 100px;
	}
	.grey-box{
		width: 100%;
		background-color: rgba(240, 241, 241, 1);
		z-index: 10;
	}
	.about-us-subtitle{
		padding-top: 30px;
		font-size: 20px;
	}
	.about-us-text{
		width: 80%;
		padding-left: 45px;
		text-align: center;
		font-size: 14px;
		line-height: 1.7em;
		padding-bottom: 50px;
	}
	.about-us-image{
		width: 311px;
		margin-top: 55px;
		margin-left: 35px;
	}
	.products{
		margin-top: 100px;
	}
	.section-title-name{
		font-size: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.bean-bag-example, .sofa-example{
		margin-left: 40px;
		height: 150px;
	}
	.name-of-category{
		top: 105px;
		left: -170px;
		font-size: 10px;
		margin-top: 30px;
		letter-spacing: 2px;
	}
	.two{
		left: 25px;
	}
	.btn a{
		line-height: 20px;
	}
	.view{
		margin-left: 50px;
		height: 20px;
		margin-top: 10px;
		margin-bottom: 70px;
		font-size: 10px;
	}
	.right-grey-box{
		margin-top: 10px;
	}
	.about-rent-subtitle{
		padding-top: 20px;
		margin-left: -20px;
		font-size: 20px;
	}
	.about-rent-text{
		padding-top: 20px;
		padding-bottom: 50px;
		padding-left: 35px;
		font-size: 10px;
		line-height: 1.7em;
	}
	.rent-img{
		top: 70px;
		left: 10px;
		width: 180px;
		height: 140px;
		filter: blur(2px);
	}
	.form-information{
		width: 180px;
		margin-top: 70px;
		height: 140px;
		left: 10px;
	}
	.user-name, .user-mail, .user-phone, .user-messege, .send{
		font-size: 10px;
	}
	.user-name, .user-mail{
		width: 80%;
	}
	.send{
		margin-top: 8%;
	}
	.process{
		margin-top: 300px;
	}
	.process-title{
		padding-top: 10px;
		font-size: 14px;
		margin-bottom: 20px;
	}
	.bbag{
		margin-bottom: 40px;
	}
	.contacts-wrapper{
		margin-top: 50px;
		padding-bottom: 50px;
	}
	.all-contacts{
		padding-top: 70px;
	}
	.phones{
		width: 90%;
		margin-left: 10%;
	}
	.find-us{
		font-size: 16px;
		margin-top: 30px;
	}
	.map{
		width: 90%;
		margin-left: 2.5%;
	}
	.flex{
		flex-direction: column;
	}
	.white-box{
		top: -40px;
		z-index: 2;
		width: 40%;
		background-color: #fff;
		height: 80px;
	}
	.contact-p{
		width: 230px;
		margin-left: 60px;
		font-size: 14px;
	}
	.contact-us{
		font-size: 20px;
		margin-top: 50px;
		margin-left: -15px;
	}
	.trust{
		left: 60px;
		top: 50px;
		font-size: 20px;
		transform: none;
	}
	.logos{
		padding-top: 80px;
		margin-top: 0px;
		margin-left: 0px;
		width: 100%;
	}
	.grey-line{
		top: 130px;
	}
	.double-img{
		display: none;
	}
	#back-top {
	    top: 10px;
	    right: 10px;
	}
	#back-top span {
		width: 25px;
	}
	.callback-bt, .callback-btn {
		width: 30px;
		height:30px;
		right: 15px;
	}
	.callback-btn {
		bottom: 70px;
	}
	.callback-btn .text-call-btn, .callback-bt .text-call{
	    height:30px;
	    width:30px;     
	    line-height: 3px;   
	}
	.callback-bt .text-call:hover span {
	    font-size: 3px;
	}
	.callback-bt .text-call span {
	    right: 0.5px;
	    top: 3px;
	}
	.callback-btn .text-call-btn span {
	    right: 0.5px;
	    top: 3px;
	}
	.callback-btn .text-call-btn:hover span {
        font-size: 3px;
	}
	.footer{
		margin-top: 30px;
	}
}




@media screen and (max-width: 375px) {
	.products{
		margin-top: 200px;
	}
	.bean-bag-example, .sofa-example{
		height: 120px;
	}
	.name-of-category{
		left: -140px;
		top: 90px;
	}
	.two{
		left: 30px;
	}
	.right-grey-box{
		width: 100%;
	}
	.about-rent-text{
		padding-bottom: 250px;
	}
	.rent-img{
		display: none;
	}
	.form-information{
		width: 80%;
		left: 10%;
		top: 120px;
		height: 200px;
	}
	.process{
		margin-top: 450px;
	}
	.process-title{
		font-size: 12px;
	}
	.bbag{
		margin-bottom: 36px;
	}
	.contact-p{
		margin-left: 35px;
	}
	._logos{
		padding: 15px;
	}
	.logos{
		padding-top: 118px;
	}
}




@media screen and (max-width: 320px) {
	.about-us-image{
		display: none;
	}
	.logo{
		width: 55%;
		margin-left: -10px;
	}
	.main-subtitle{
		padding-top: 10px;
	}
	.about-us-text{
		padding-left: 30px;
	}
	.about-us-subtitle{
		font-size: 18px;
	}
	.products{
		margin-top: 600px;
	}
	.bean-bag-example, .sofa-example{
		height: 110px;
	}
	.name-of-category{
		left: -115px;
		top: 90px;
	}
	.two{
		left: 30px;
	}
	.view{
		margin-top: 3px;
		margin-left: 50px;
	}
	.bbag{
		margin-bottom: 32px;
	}
	.process-title{
		font-size: 8px;
	}
	.contact-p{
		margin-left: 10px;
	}
	.trust{
		left: 50px;
	}
	.logos{
		padding-top: 130px;
	}
}







